//公共变量

//头部高
$headerHeight: 44px; 
//底部tabbar高
$tabbarHeight: 50px; 

//base
$baseFontSize: 15px; //默认字体大小
$baseFontColor: #1989fa; //默认颜色
$baseFontFamily:PingFang SC, 'Helvetica Neue', Arial, sans-serif;

/* Button start */
$btnBorderRadius: 5px;
$btnFontColor: #FFFFFF;
$btnHeight: 44px;
$btnFontSize: 15px;

//lg类型 large
$btnLgFontSize: 16px;
$btnLgHeight: 50px;

//sm类型 small
$btnSmFontSize: 12px;
$btnSmHeight: 30px;

//xs类型 xsmall
$btnXsFontSize: 12px;
$btnXsHeight: 22px;

/* Switch start */
$switchBgColorActive:#1989fa;
$switchBgColor:#fafafa;
$switchFontSize:28px;
/* Switch end */

/* Cell start */
$cellFontSize:15px;
$cellFontSizeSmall:14px;
/* Cell end */

/* Bradge start */
$bradgeColor: #E64340;
/* Bradge end */












