//公共变量

//头部高
$headerHeight: 44px; 
//底部tabbar高
$tabbarHeight: 50px; 

//base
$baseFontSize: 15px; //默认字体大小
$baseFontColor: #1989fa; //默认颜色
$baseFontFamily:PingFang SC, 'Helvetica Neue', Arial, sans-serif;



