@charset "UTF-8";
@import url(e:\cheAnDa\web-demo-example\src\assets\css\reset.css);
/*
webkit禁止点击高亮
*/
/*
三角箭头 
@include arrow(10px ,#ccc,left);
*/
/*
设置1px
@include setTopLine(#ccc);
*/
/*
设置文字溢出隐藏
@include setTextHidden1();
*/
/*
设置radio背景
@include setRadioBg("FFFFFF");
*/
.cy-slide-down-enter-active, .cy-slide-downIn,
.cy-slide-down-leave-active, .cy-slide-downOut, .cy-slide-up-enter-active, .cy-slide-upIn,
.cy-slide-up-leave-active, .cy-slide-upOut, .cy-slide-left-enter-active, .cy-slide-leftIn,
.cy-slide-left-leave-active, .cy-slide-leftOut, .cy-slide-right-enter-active, .cy-slide-rightIn,
.cy-slide-right-leave-active, .cy-slide-rightOut, .cy-fade-enter-active, .cy-fadeIn,
.cy-fade-leave-active, .cy-fadeOut, .cy-zoom-enter-active, .cy-zoomIn,
.cy-zoom-leave-active, .cy-zoomOut, .cy-rotate-enter-active, .cy-rotateIn,
.cy-rotate-leave-active, .cy-rotateOut {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.cy-slide-down-enter-active, .cy-slide-downIn {
  animation-name: cy-slide-down-in;
}

.cy-slide-down-leave-active, .cy-slide-downOut {
  animation-name: cy-slide-down-out;
}

.cy-slide-up-enter-active, .cy-slide-upIn {
  animation-name: cy-slide-up-in;
}

.cy-slide-up-leave-active, .cy-slide-upOut {
  animation-name: cy-slide-up-out;
}

.cy-slide-left-enter-active, .cy-slide-leftIn {
  animation-name: cy-slide-left-in;
}

.cy-slide-left-leave-active, .cy-slide-leftOut {
  animation-name: cy-slide-left-out;
}

.cy-slide-right-enter-active, .cy-slide-rightIn {
  animation-name: cy-slide-right-in;
}

.cy-slide-right-leave-active, .cy-slide-rightOut {
  animation-name: cy-slide-right-out;
}

.cy-fade-enter-active, .cy-fadeIn {
  animation-name: cy-fade-in;
}

.cy-fade-leave-active, .cy-fadeOut {
  animation-name: cy-fade-out;
}

.cy-zoom-enter-active, .cy-zoomIn {
  animation-name: cy-zoom-in;
}

.cy-zoom-leave-active, .cy-zoomOut {
  animation-name: cy-zoom-out;
}

@keyframes cy-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cy-rotate-enter-active, .cy-rotateIn {
  animation-name: cy-rotate-in;
}

.cy-rotate-leave-active, .cy-rotateOut {
  animation-name: cy-rotate-out;
}

@keyframes cy-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cy-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes cy-slide-down-in {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cy-slide-down-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes cy-slide-up-in {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cy-slide-up-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes cy-slide-left-in {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cy-slide-left-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes cy-slide-right-in {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cy-slide-right-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes cy-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cy-zoom-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes cy-zoom-none {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  100% {
    width: 180%;
    height: 180%;
    opacity: 0;
  }
}

textarea {
  background: #e5f8f4;
  width: 100%;
  padding: 15px;
  min-height: 150px;
}

.bgwhite {
  background: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  line-height: 1.6;
  font-size: 15px;
  font-family: PingFang SC, "Helvetica Neue", Arial, sans-serif;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #111111;
}

div, a, input, label, i, svg {
  -webkit-tap-highlight-color: transparent;
}

/* 间距*/
.pdt-5 {
  padding-top: 5px !important;
}

.pdb-5 {
  padding-bottom: 5px !important;
}

.pdl-5 {
  padding-left: 5px !important;
}

.pdr-5 {
  padding-right: 5px !important;
}

.pdtb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pdlr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pd-5 {
  padding: 5px !important;
}

.mgt-5 {
  margin-top: 5px !important;
}

.mgb-5 {
  margin-bottom: 5px !important;
}

.mgl-5 {
  margin-left: 5px !important;
}

.mgr-5 {
  margin-right: 5px !important;
}

.mgr-5 {
  margin-right: 5px !important;
}

.mgtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mglr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mg-5 {
  margin: 5px !important;
}

.pdt-10 {
  padding-top: 10px !important;
}

.pdb-10 {
  padding-bottom: 10px !important;
}

.pdl-10 {
  padding-left: 10px !important;
}

.pdr-10 {
  padding-right: 10px !important;
}

.pdtb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pdlr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pd-10 {
  padding: 10px !important;
}

.mgt-10 {
  margin-top: 10px !important;
}

.mgb-10 {
  margin-bottom: 10px !important;
}

.mgl-10 {
  margin-left: 10px !important;
}

.mgr-10 {
  margin-right: 10px !important;
}

.mgr-10 {
  margin-right: 10px !important;
}

.mgtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mglr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mg-10 {
  margin: 10px !important;
}

.pdt-15 {
  padding-top: 15px !important;
}

.pdb-15 {
  padding-bottom: 15px !important;
}

.pdl-15 {
  padding-left: 15px !important;
}

.pdr-15 {
  padding-right: 15px !important;
}

.pdtb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pdlr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pd-15 {
  padding: 15px !important;
}

.mgt-15 {
  margin-top: 15px !important;
}

.mgb-15 {
  margin-bottom: 15px !important;
}

.mgl-15 {
  margin-left: 15px !important;
}

.mgr-15 {
  margin-right: 15px !important;
}

.mgr-15 {
  margin-right: 15px !important;
}

.mgtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mglr-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mg-15 {
  margin: 15px !important;
}

.pdt-20 {
  padding-top: 20px !important;
}

.pdb-20 {
  padding-bottom: 20px !important;
}

.pdl-20 {
  padding-left: 20px !important;
}

.pdr-20 {
  padding-right: 20px !important;
}

.pdtb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pdlr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pd-20 {
  padding: 20px !important;
}

.mgt-20 {
  margin-top: 20px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}

.mgl-20 {
  margin-left: 20px !important;
}

.mgr-20 {
  margin-right: 20px !important;
}

.mgr-20 {
  margin-right: 20px !important;
}

.mgtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mglr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mg-20 {
  margin: 20px !important;
}

/* 圆角*/
.round-0 {
  border-radius: 0px;
}

.round-2 {
  border-radius: 2px;
}

.round-4 {
  border-radius: 4px;
}

.round-5 {
  border-radius: 5px;
}

.round-10 {
  border-radius: 10px;
}

.round-15 {
  border-radius: 15px;
}

.round-20 {
  border-radius: 20px;
}

.round-25 {
  border-radius: 25px;
}

.round-30 {
  border-radius: 30px;
}

.round-999 {
  border-radius: 999px;
}

.round-100 {
  border-radius: 100%;
}

/* 字号大小*/
.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

/* 安全区域*/
.pdt-safe-0 {
  padding-top: 0px !important;
  padding-top: calc( constant(safe-area-inset-top) + 0px) !important;
  /*20+0*/
  padding-top: calc( env(safe-area-inset-top) + 0px) !important;
}

.pdt-44 {
  padding-top: 44px !important;
}

.pdt-safe-44 {
  padding-top: 44px !important;
  padding-top: calc( constant(safe-area-inset-top) + 44px) !important;
  /*20+44*/
  padding-top: calc( env(safe-area-inset-top) + 44px) !important;
}

.pdb-safe-0 {
  padding-bottom: 0px !important;
  padding-bottom: calc( constant(safe-area-inset-bottom) + 0px) !important;
  /*20+0*/
  padding-bottom: calc( env(safe-area-inset-bottom) + 0px) !important;
}

.pdb-50 {
  padding-bottom: 50px !important;
}

.pdb-safe-50 {
  padding-bottom: 50px !important;
  padding-bottom: calc( constant(safe-area-inset-bottom) + 50px) !important;
  /*20+50*/
  padding-bottom: calc( env(safe-area-inset-bottom) + 50px) !important;
}

.mgt-safe-0 {
  margin-top: 0px !important;
  margin-top: calc( constant(safe-area-inset-top) + 0px) !important;
  /*20+0*/
  margin-top: calc( env(safe-area-inset-top) + 0px) !important;
}

.mgt-44 {
  margin-top: 44px !important;
}

.mgt-safe-44 {
  margin-top: 44px !important;
  margin-top: calc( constant(safe-area-inset-top) + 44px) !important;
  /*20+44*/
  margin-top: calc( env(safe-area-inset-top) + 44px) !important;
}

.mgb-safe-0 {
  margin-bottom: 0px !important;
  margin-bottom: calc( constant(safe-area-inset-bottom) + 0px) !important;
  /*20+0*/
  margin-bottom: calc( env(safe-area-inset-bottom) + 0px) !important;
}

.mgb-50 {
  margin-bottom: 50px !important;
}

.mgb-safe-50 {
  margin-bottom: 50px !important;
  margin-bottom: calc( constant(safe-area-inset-bottom) + 50px) !important;
  /*20+50*/
  margin-bottom: calc( env(safe-area-inset-bottom) + 50px) !important;
}

.none {
  display: none;
}

.block {
  display: block;
}

.iblock {
  display: inline-block;
}

.hidden {
  overflow: hidden;
}

.visible {
  overflow: visible;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.text-red {
  color: #eb1c1c;
}

.text-yellow {
  color: #ff6300;
}

.text-deepgrey {
  color: #666666;
}

.text-grey {
  color: #999999;
}

.text-black {
  color: #111111;
}

/*溢出1、2行隐藏*/
.text-hidden-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-hidden-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*框架*/
.layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100vh;
  background: #f0f0f0;
  /*必须， 路由切换时覆盖页面*/
}
