// Animation
%common-animation{
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@mixin make-animation($keyframeName) {
  .#{$keyframeName}-enter-active, .#{$keyframeName}-in,
  .#{$keyframeName}-leave-active, .#{$keyframeName}-out {
      @extend %common-animation;
  }
  .#{$keyframeName}-enter-active, .#{$keyframeName}-in {
      animation-name: #{$keyframeName}-in;
  }
  .#{$keyframeName}-leave-active, .#{$keyframeName}-out {
      animation-name: #{$keyframeName}-out;
  }
}
//下滑
@include make-animation(cy-slide-down);
//上滑
@include make-animation(cy-slide-up);
//左滑
@include make-animation(cy-slide-left);
//右滑
@include make-animation(cy-slide-right);
//渐显
@include make-animation(cy-fade);
//放大
@include make-animation(cy-zoom);

//rotate转圈
@keyframes cy-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include make-animation(cy-rotate);

//fade-in fade-out
@keyframes cy-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cy-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//slide-down
@keyframes cy-slide-down-in {
  from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
  }
  to {
      transform: translate3d(0, 0, 0);
  }
}
@keyframes cy-slide-down-out {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
  }
}

//slide-up
@keyframes cy-slide-up-in {
  from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
  }
  to {
      transform: translate3d(0, 0, 0);
  }
}
@keyframes cy-slide-up-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
      visibility: hidden;
      transform: translate3d(0, 100%, 0);
  }
}

//slide-left
@keyframes cy-slide-left-in {
  from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  to {
      transform: translate3d(0, 0, 0);
  }
}
@keyframes cy-slide-left-out {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      visibility: hidden;
      transform: translate3d(-100%, 0, 0);
  }
}

//slide-right
@keyframes cy-slide-right-in {
  from {
     transform: translate3d(100%, 0, 0);
      visibility: visible;
  }
  to {
      transform: translate3d(0, 0, 0);
  }
}
@keyframes cy-slide-right-out {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      visibility: hidden;
      transform: translate3d(100%, 0, 0);
  }
}

//zoom 放大
@keyframes cy-zoom-in {
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cy-zoom-out {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0.8);
  }
}

//放大到消失
@keyframes cy-zoom-none{
  0% {
      width: 100%;
      height: 100%;
      opacity: 0.8;
  }
  100% {
      width: 180%;
      height: 180%;
      opacity: 0;
  }
}



